<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigations</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a>Sell online</a></li>
                            <li><a>Features</a></li>
                            <li><a>Shopping cart</a></li>
                            <li><a>Store builder</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a>Mobile commerce</a></li>
                            <li><a>Dropshipping</a></li>
                            <li><a>Website development</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a>Point of sale</a></li>
                            <li><a>Hardware</a></li>
                            <li><a>Software</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h3 class="footer-heading mb-4">Promo</h3>
                <a style="cursor:pointer" (click)="navigateTo('/shop')" class="block-6">
                    <img src="https://www.ikea.com/eg/en/images/products/minnen-ext-bed-frame-with-slatted-bed-base-light-pink__0944274_pe797210_s5.jpg?f=xxs"
                        alt="Image placeholder" class="img-fluid rounded mb-4">
                    <h3 class="font-weight-light  mb-0">Let's Grow Up Together</h3>
                    <p>Promo from January 15 &mdash; 25, 2022</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">203 ITI Smart Village, Sheikh Zayed, Cairo, Egypt</li>
                        <li class="phone"><a href="tel://23923929210">+20 101 327 4578</a></li>
                        <li class="email">contact@furnitica.com</li>
                    </ul>
                </div>

                <div class="block-7">
                    <div>
                        <label for="email_subscribe" class="footer-heading">Subscribe</label>
                        <div class="form-group">
                            <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                            <input type="submit" class="btn btn-sm btn-primary" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script data-cfasync="false"
                        src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank" class="text-primary">Colorlib</a> and Furnitica Team ♥
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

        </div>
    </div>
</footer>